<div class="animation">
    <div class="e">
        <div class="vertical bar"></div>
        <div class="horizontal bar primeira"></div>
        <div class="horizontal bar segunda"></div>
        <div class="horizontal bar terceiro"></div>
    </div>
    <div class="f">
        <div class="vertical bar"></div>
        <div class="horizontal bar primeira"></div>
        <div class="horizontal bar segunda"></div>
    </div>
    <div class="a">
        <div class="vertical bar primeiro"></div>
        <div class="vertical bar terceiro"></div>
        <div class="horizontal bar primeio"></div>
        <div class="horizontal bar segunda"></div>
    </div>
    <div class="s">
        <div class="vertical bar cima"></div>
        <div class="vertical bar embaixo"></div>
        <div class="horizontal bar primeio"></div>
        <div class="horizontal bar segunda"></div>
        <div class="horizontal bar terceiro"></div>
    </div>
    <div class="t">
        <div class="vertical bar segunda"></div>
        <div class="horizontal bar primeio"></div>
    </div>
</div>