<div class="details">
    <div class="btn_exit">
        <button onclick="exit()">exit</button>
    </div>
    <h2>Venda</h3>
    <div class="details_client">
        <h3>
            client: {{cliente}} - R$ {{valor_total}}
        </h3>
    </div>
    <div class="details_sale">
        <h3>Detalhes:</h3>
        <ul>
            <li class="sale_details">Pagamento : {{tipo_pagamento}}</li>
            <li class="sale_details">Endereço : {{endereco}}</li>
            <li class="sale_details">Mesa : {{mesa}}</li>
            <li class="sale_details">Data : {{data_pedido}}</li>
            <li class="sale_details">Status : {{status}}</li>
        </ul>
    </div>
    <div class="details_sale">
        <h3>Produtos:</h3>
        <ul>
            {{products}}
        </ul>
    </div>
    <div class="btn_ok">
        <button onclick="updateStatus('{{id}}')">Pronto</button>
    </div>
</div>

