<form class="details" id="meuForm">
  <div class="btn_exit">
    <button onclick="exit()"><i class="bi bi-x-lg"></i></button>
  </div>
  <div class="input-field">
    <input type="text" id="name" required="" autocomplete="off" name="nome" />
    <label for="nome">nome</label>
  </div>
  <div class="input-field">
    <input type="text" id="price" required="" autocomplete="off" name="valor" />
    <label for="valor">valor</label>
  </div>
  <div class="input-field">
    <input
      type="text"
      id="discount"
      required=""
      autocomplete="off"
      name="desconto"
    />
    <label for="desconto">desconto</label>
  </div>
  <select class="select_date" name="tipo" id="typePrimary" onchange="checkOptions()">
    <option value="">Selecione um tipo</option>
    {{options}}
  </select>
  <div class="input-field" style="display: none;" id="otherType">
    <input
      type="text"
      id="tipoOther"
      autocomplete="off"
      onchange="passValue()"
    />
    <label for="">Tipo</label>
  </div>
  <div class="actions_btn">
    <button class="btn_success" onclick="newProduct(this)">Ok</button>
  </div>
</form>
