.animation {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-dark);
}


.e, .f, .a, .s, .t{
  position: relative;
  width: 80%;
  max-width: 100px;
  height: 150px;
  margin: 10px;
}

.bar {
  position: absolute;
  background-color: transparent; /* Inicialmente transparente */
  animation-fill-mode: forwards; /* Retém o estado final da animação */
}

.bar.vertical {
  width: 15px;
  height: 150px;
  border-radius: 5px;
  background-color: black;
  transform-origin: bottom left;
  transform: scaleY(0); /* Inicialmente oculta */
  animation: fillBar .4s ease-in forwards .8s; /* Preenchimento com delay */
}

.bar.horizontal {
  width: 100%;
  max-width: 100px;
  height: 15px;
  background-color: black;
  left: 0px;
  border-radius: 5px;
  transform: scaleX(0); /* Inicialmente oculta */
  animation: fillBarHorizontal .6s ease-in forwards 1s; /* Preenchimento com delay */
}

.f {
  height: 200px;
}

.f > .bar.vertical{
  height: 180px;
}

.f > .bar.horizontal, .f > .bar.vertical{
  background-color: red;
}

.horizontal.primeiro {
  top: 0%
}
.horizontal.segunda {
  top: 50%
}
.horizontal.terceiro {
  top: 90%
}

.vertical.primeiro {
  left: 0%;
}
.vertical.segunda {
  left: 40%;
}
.vertical.terceiro {
  left: 90%;
}

.s > .vertical {
  animation: fillBarS .6s ease-in forwards 1s;
}
.vertical.cima {
  left: 0%;
  top: -45%
}
.vertical.embaixo {
  left: 85%;
  top: 0%
}


@keyframes fillBarS {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(.5);
  }
}

@keyframes fillBar {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fillBarHorizontal {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}