.details {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  padding: 1em;
  border-radius: 10px;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
}
.btn_exit {
  width: 100%;
  display: flex;
  justify-content: end;
}
.btn_exit > button {
  height: 2em;
  width: 2em;
  border-radius: 10px;
  border: none;
  background: var(--bg-light);
  color: red;
  transition: all 0.3s ease;
}
.btn_exit > button:hover {
  transform: scale(1.2);
  background: red;
  color: var(--bg-light);
}
.details > h2 {
  color: var(--clr);
}
.details_client {
  color: var(--bg-light);
  margin: 10px;
}
.details_sale {
  min-height: 10em;
  color: var(--bg-light);
}
.sale_details {
  margin-left: 3em;
}
.btn_ok {
  width: 100%;
  display: contents;
}
.btn_ok > button {
  font-weight: bold;
  width: 25%;
  color: var(--bg-light);
  background: var(--clr);
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btn_ok > button:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .details {
    width: 90%;
  }
}
