.container_nav {
  background-color: var(--bg-dark);
  color: var(--bg-light);
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  align-items: center;
}

.title {
  margin: 15px;
  font-size: xx-large;
}

.line {
  height: 4px;
  width: 100%;
  background: var(--clr);
  display: block;
  border-radius: 10px;
}

.perfil {
  height: 60%;
  width: auto;
  border: solid;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil > img {
  max-width: 100%;
  max-height: 100%;
}
